<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-top">
      <div class="branding-branding">
        <img alt="image" src="public/dove-200h.png" class="branding-image" />
        <h2 class="branding-company-name"><span>Rosta Fürjészet</span></h2>
      </div>
      <nav class="footer-navigation-links">
        <a href="index.html" class="footer-link navLink">
          <span>Mission</span>
        </a>
        <a href="index.html" class="footer-link1 navLink">
          <span>Take Action</span>
        </a>
        <a href="index.html" class="footer-link2 navLink"><span>News</span></a>
        <a href="index.html" class="footer-link3 navLink">
          <span>Contact</span>
        </a>
      </nav>
    </div>
    <div class="footer-middle">
      <span class="footer-text">
        <span>+0 222.345.987 office@helpa.template</span>
      </span>
      <span class="footer-text1">
        <span>Forge Co.13G Eagle Blvd.Nashville, TN 37011-5678</span>
      </span>
    </div>
    <div class="footer-bottom">
      <span class="footer-copyright">
        <span>© Copyright Company – 2022</span>
      </span>
    </div>
  </footer>
</div>
