.branding-branding {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.branding-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.branding-company-name {
  color: #222223;
  width: 185px;
  font-size: 36px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 54px;
  padding-left: 12px;
}


@media(max-width: 767px) {
  .branding-company-name {
    font-size: 21px;
    line-height: 32px;
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  z-index: 100;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: 120px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: #79D590;
}
.footer-top {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: center;
  border-color: #222223;
  border-style: dashed;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  border-bottom-width: 1px;
}
.footer-navigation-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.footer-link {
  text-decoration: none;
}
.footer-link1 {
  text-decoration: none;
}
.footer-link2 {
  text-decoration: none;
}
.footer-link3 {
  text-decoration: none;
}
.footer-middle {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 250px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.footer-text {
  width: 100%;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-family: Lora;
  font-weight: 500;
  line-height: 36px;
}
.footer-text1 {
  width: 100%;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-family: Lora;
  font-weight: 500;
  line-height: 36px;
}
.footer-bottom {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #222223;
  border-style: dashed;
  flex-direction: column;
  justify-content: center;
  border-top-width: 1px;
}
.footer-copyright {
  color: rgba(0, 0, 0, 0.3);
  width: 100%;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 18px;
}
@media(max-width: 991px) {
  .footer-footer {
    width: 100%;
    padding-top: var(--dl-space-space-sixunits);
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding-top: var(--dl-space-space-threeunits);
  }
  .footer-navigation-links {
    flex-direction: column;
  }
  .footer-text {
    font-size: 18px;
    line-height: 40px;
  }
  .footer-text1 {
    font-size: 18px;
    line-height: 40px;
  }
  .footer-bottom {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .footer-copyright {
    font-size: 10px;
    line-height: 15px;
  }
}
